permissions:
  contents: write   # Omogućava GitHub Actions-u pisanje u repozitorij (commit, push)
  pull-requests: write  # Omogućava GitHub Actions-u upravljanje pull zahtjevima
  issues: write  # Omogućava GitHub Actions-u upravljanje problemima
  discussions: write  # Omogućava GitHub Actions-u upravljanje diskusijama

name: Auto Build Transmission

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'  # svakodnevno u 05:00 UTC

env:
  PLATFORM: linux/arm/v7
  IMAGE_NAME: mojrapid/transmission
  ARCH_TAG: arm32v7

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout koda iz repozitorija
      - name: Checkout repo
        uses: actions/checkout@v3

      # Pokretanje skripte za postavljanje prava na izvršavanje
      - name: Run fix-permissions.sh
        run: |
          bash ./fix-permissions.sh

      # Preuzimanje najnovije verzije Transmission-a s GitHub API-ja
      - name: Get latest Transmission version
        id: get_version
        run: |
          TRANSMISSION_VERSION=$(curl -sL "http://dl-cdn.alpinelinux.org/alpine/edge/community/armv7/APKINDEX.tar.gz" | tar -xz -C /tmp && awk '/^P:transmission$/,/V:/' /tmp/APKINDEX | sed -n 2p | sed 's/^V://')
          if [ -z "$TRANSMISSION_VERSION" ]; then
            echo "Failed to fetch Transmission version."
            exit 1
          fi
          echo "Transmission version fetched: $TRANSMISSION_VERSION"
          echo "TRANSMISSION_VERSION=$TRANSMISSION_VERSION" >> $GITHUB_ENV
          echo "version=$TRANSMISSION_VERSION" >> $GITHUB_OUTPUT

      # Postavljanje Docker Buildx s verzijom
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: v0.10.0  # Pin na određenu verziju Buildx-a radi stabilnosti

      # Login na Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Provjera verzije na Docker Hub-u
      - name: Check if image already exists
        id: check_image
        run: |
          image_tag="${{ env.IMAGE_NAME }}:${{ env.ARCH_TAG }}-${{ env.TRANSMISSION_VERSION }}"
          image_exists=$(docker manifest inspect $image_tag || echo "not found")
          if [[ $image_exists == *"not found"* ]]; then
            echo "Image not found. Proceeding with build."
            echo "image_exists=false" >> $GITHUB_ENV
          else
            echo "Image found. Skipping build."
            echo "image_exists=true" >> $GITHUB_ENV
          fi

      # Buildanje i pushanje Docker image-a
      - name: Build and Push Docker image
        if: env.image_exists == 'false'
        uses: docker/build-push-action@v5
        with:
          context: ./  # Koristi root direktorij za build
          file: ./Dockerfile  # Putanja do Dockerfile-a u repozitoriju
          push: true
          platforms: ${{ env.PLATFORM }}
          build-args: |
            BUILD_DATE=${{ github.event.head_commit.timestamp }}
            TRANSMISSION_VERSION=${{ env.TRANSMISSION_VERSION }}
            VERSION=${{ env.TRANSMISSION_VERSION }}
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.ARCH_TAG }}-${{ env.TRANSMISSION_VERSION }}
            ${{ env.IMAGE_NAME }}:${{ env.ARCH_TAG }}-latest

      # Obavijest na Discord nakon uspješnog builda
      - name: Send Discord notification on success
        if: env.image_exists == 'false'
        run: |
          curl -X POST -H "Content-Type: application/json" -d '{"content": "New Transmission image version '${{ env.TRANSMISSION_VERSION }}' has been built and pushed to Docker Hub."}' ${{ secrets.DISCORD_WEBHOOK }}

      # Obavijest na Discord ako build ne uspije
      - name: Send Discord notification on failure
        if: failure()
        run: |
          curl -X POST -H "Content-Type: application/json" -d '{"content": "Build failed for Transmission image version '${{ env.TRANSMISSION_VERSION }}'. Please check the build logs."}' ${{ secrets.DISCORD_WEBHOOK }}
